<a href="https://colab.research.google.com/github/jturner116/Jonah_INFO3020_Spring2020/blob/master/3020_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

In [1]:
def pstring():
  s = input("Please input a string: ")
  print(s)

pstring()

Please input a string: hello world!
hello world!

Question 2

In [3]:
total = 0
for i in range(1001):
  if i%2 == 0:
    total = total + i

print(total)

250500

Question 3

In [14]:
numbers=[12,10,3,2,[6,[7,8,9],19,21],21]
def prod(nums):
  product = 1
  for i in nums:
    if type(i) is list:
      product = product*prod(i)
    else:
      product = product*i
  return(product)
    

prod(numbers)

18243429120

Question 4

In [0]:
matrix=[[23,43,12],[32,12,52],[15,35,52],[19,28,56]]

import numpy as np
def wmat():
  mat = np.array(matrix)

  mat[mat > 20] = 0

  mat

  with open("4.txt", "w") as myfile:
      myfile.write(str(mat))

wmat()

Question 5

In [20]:
numbers=[1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3]

def count(nums):
    occurances = {}
    for element in nums:
        if element in occurances:
            occurances[element] += 1
        else:
            occurances[element] = 1
    for key,value in occurances.items():
        print(" %d  %d"%(key, value))
count(numbers)

 1  2
 3  9
 2  17
 4  6
 32  1
 5  1

Question 6

In [21]:
class Point:

    def __init__(self, x=0, y=0):
        self.x=x
        self.y=y

    def __str__(self):
        return "The Point is ({0}, {1})".format(self.x, self.y)

    def __add__(self, other):
        return Point(self.x+other.x, self.y+other.y)

p=Point()
q=Point(3,4)
r=Point(3,3)

print(q+r)

The Point is (6, 7)

Question 7

In [0]:
import pandas as pd

filename = "catering_sale_all.xls"
food_sheet1 = pd.read_excel(filename, sheet_name='Sheet1')

print(food_sheet1.head())

def foodbymonth():
    fooddict = {'0': 'exit', '1': 'chicken feet', '2': 'steamed dumplings', '3': 'ribs', '4': 'full chicken', '5': 'stuffed bun', '6': 'flowering cabbage', '7': 'doufu', '8': 'chive dumplings', '9': 'pudding', '10': 'original cabbage'}
    for key,value in fooddict.items():
        print(" %s %s" %(key, value))
    num = input("Please input a number in the list: ")
    print("the total sale of {0} is {1}".format(fooddict.get(str(num)), food_sheet1[fooddict.get(str(num))].sum()))
    if num != 0:
        foodbymonth()
    else:
        exit()
foodbymonth()

Question 8

In [0]:
import pymysql
def connect():
    global db
    db = pymysql.connect("localhost", "root", "MidasIsCute2000", "world")


def avglife():

    dbcursor = db.cursor()

    sql = "select continent, AVG(lifeexpectancy) as avglife from country group by continent"

    command = dbcursor.execute(sql)
    results = dbcursor.fetchall()

    contlist = []
    lifelist = []

    for row in results:
        contlist.append(row[0])
        lifelist.append(row[1])
    print(" avglife | continent")
    for i in range(len(contlist)):
        print(" {0} | {1}".format(lifelist[i], contlist[i]))

    dbcursor.close()
    db.close()


connect()

avglife()

Question 9

In [0]:
import pymysql
import matplotlib
from pylab import *
def connect():
    global db
    db = pymysql.connect("localhost", "root", "MidasIsCute2000", "world")

def totalpop():
    dbcursor = db.cursor()

    sql = "select continent, SUM(population) as totpop from country group by continent"

    command = dbcursor.execute(sql)
    results = dbcursor.fetchall()

    contlist = []
    poplist = []

    for row in results:
        contlist.append(row[0])
        poplist.append(row[1])

    # print(contlist)
    # print(poplist)
    worldpop = sum(poplist)
    # print(worldpop)
    percentpop = [i / worldpop for i in poplist]
    # print(percentpop)

    #Pie chart
    figure(1, figsize=(6,6))
    ax = axes([.1,.1,.8,.8])

    explode = (0.1,0.1,0.1,0.1,0.1,0.1,0.1)

    pie(percentpop, explode=explode, labels=contlist, autopct='%1.1f%%', startangle=67)

    title('population by continent')

    show()

connect()
totalpop()

Question 10 - this is the only one I had trouble with. Ran out of time to figure out why bar plot would not show.

In [0]:
import pandas as pd
import matplotlib.pyplot as plt


filename = "energy-production.csv"

df = pd.read_csv(filename)


def energybreakdown(year):

    rowlist = []
    data = df.loc[df['Year'] == year, 'Solar/PV Energy':]
    numlist = data.values
    print(numlist)
    for index in data:
        rowlist.append(index)
    columnlist = list(data.columns)
    print(rowlist)


    #Bar chart
    x_pos = [i for i, _ in enumerate(rowlist)]

    plt.bar(x_pos, numlist)
    plt.xticks(x_pos, rowlist)
    plt.show()


energybreakdown(1980)