<a href="https://colab.research.google.com/github/jturner116/Jonah_INFO3020_Spring2020/blob/master/Homework_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
#Day of the week selector
day_int = int(input("Please enter the number that corresponds with the desired day: "))

Please enter the number that corresponds with the desired day: 2

In [21]:
print(day_int)
if day_int == 0:
    print("Sunday")  
elif day_int == 1:
    print("Monday")
elif day_int == 2:
    print("Tuesday")
elif day_int == 3:
    print("Wednesday")
elif day_int == 4:
    print("Thursday")
elif day_int == 5:
    print("Friday")
elif day_int == 6:
    print("Saturday")

2
Tuesday

In [23]:
#Length of hypotneuse
import math 

a = int(input("Please enter the length of the first side:"))
b = int(input("Please enter the length of the second side:"))
hyp = math.sqrt((a**2)+(b**2))
print("The length of the hypotneuse is ", hyp)

Please enter the length of the first side:3
Please enter the length of the second side:4
The length of the hypotneuse is  5.0

In [30]:
#Check if right triangle

f = float(input("Enter the first side length: "))
g = float(input("Enter the second side length: "))
h = float(input("Enter the third side length: "))
if (f**2) + (g**2) == h**2:
    print("True")
else:
    print("False")

Enter the first side length: 3
Enter the second side length: 4
Enter the third side length: 5
True

In [31]:
#4
message = "One of the months of the year is "
for i in ("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"):
    print(message + i)

One of the months of the year is January
One of the months of the year is February
One of the months of the year is March
One of the months of the year is April
One of the months of the year is May
One of the months of the year is June
One of the months of the year is July
One of the months of the year is August
One of the months of the year is September
One of the months of the year is October
One of the months of the year is November
One of the months of the year is December

In [35]:
#5
total = 0
for i in (12,10,32,3,66,17,42,99,20):
    total = total + i

print(total)
product = 1
for i in (12,10,32,3,66,17,42,99,20):
    product = product * i

print(product)

301
1074879590400

In [0]:
#6 - Draw an equilateral triangle and a hexagon
import turtle

#window=turtle.Screen()
#window.title("Triangle and Hexagon")
turt=turtle.Turtle()

#Triangle
for i in range(2):
  turt.forward(50)
  turt.turn(120)

#Hexagon
for i in range(5):
  turt.forward(50)
  turt.turn(60)

In [0]:
#7

import turtle

drunk=turtle.Turtle()

for i in (160, -43, 270, -97, -43, 200, -940, 17, -86):
  drunk.turn(i)
  drunk.forward(100)

In [39]:
#8
i = 0
total = 0
for i in range(1000):
  if i % 2 == 0:
    total = total + 1
print(total)

500